<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog-AspNetCore.log">

    <variable name="logFilePath" value="${gdc:ProjectRootPath}/Logs/whalehouse_backoffice.${shortdate}.log" />

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
        <add assembly="NLog.DiagnosticSource"/>
    </extensions>

    <targets>
        <target xsi:type="File" name="logfile" fileName="${logFilePath}"
                layout="[${longdate}] [${pad:padding=5:inner=${level:upperCase=true}}] [${activity:property=TraceId}] [${logger}] - ${message} ${exception:format=tostring}" keepFileOpen="true" encoding="utf-8"
                archiveAboveSize="10000000" archiveNumbering="DateAndSequence" archiveDateFormat="yyyy-MM-dd" />
        <target xsi:type="Console" name="jsonconsole">
            <layout xsi:type="JsonLayout">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}" />
                <attribute name="traceId" layout="${activity:property=TraceId}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="message" layout="${message}" />
                <attribute name="properties" encode="false" >
                    <layout xsi:type="JsonLayout" includeEventProperties="true" maxRecursionLimit="2" />
                </attribute>
                <attribute name="exception" encode="false">
                    <layout xsi:type="JsonLayout">
                        <attribute name="type" layout="${exception:format=type}" />
                        <attribute name="message" layout="${exception:format=message}" />
                        <attribute name="stacktrace" layout="${exception:format=tostring}" />
                    </layout>
                </attribute>
            </layout>
        </target>
        <target xsi:type="ColoredConsole" name="console" layout="[${longdate}] [${pad:padding=5:inner=${level:upperCase=true}}] [${activity:property=TraceId}] [${logger}] - ${message} ${exception:format=tostring}" />
    </targets>

    <include file="NLog.${gdc:Environment}.config" ignoreErrors="true" />
    
</nlog>