<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog-AspNetCore.log">
    
    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="Microsoft.AspNetCore.*" finalMinLevel="Warn" />
        <logger name="Microsoft.EntityFrameworkCore.*" finalMinLevel="Info" />
        <logger name="Microsoft.Extensions.Http.*" finalMinLevel="Info" />
        <logger name="*" minlevel="Info" writeTo="jsonconsole" />
    </rules>
    
</nlog>